# editor settings
.vscode/

# dependencies
.pnp
.pnp.js
node_modules/

# pnpm
.pnpm-debug.log*

# environment
.env.local
.env*.local
*.bak

# other
.next/
next-env.d.ts
.DS_Store
.secrets

build/
dist/
logs/
out/
tmp/
temp/

tsconfig.tsbuildinfo
